fastapi
uvicorn[standard]
sqlalchemy>=2.0.0
alembic
pymysql
cryptography
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
pypdf>=5.0.0
py-ip2region==3.0.4
httpx
python-dotenv
python-dotenv
openai
redis
pydantic-settings
pytest
ruff
black
email-validator
mcp==1.8.1
beautifulsoup4>=4.12.0
