fastapi
uvicorn[standard]
sqlalchemy>=2.0.0
alembic
pymysql
cryptography
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
httpx
python-dotenv
openai
redis
pydantic-settings
pytest
ruff
black
email-validator
